@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
  @apply text-sm md:text-base ml-2 md:ml-4 capitalize;
}
.description hr {
  padding: 20px 0;
  border: 0;
}
.description ul {
  list-style: disc;
  padding-left: 15px;
}
.input__radio + label {
  transition: 0.2s all;
  cursor: pointer;
}
.input__radio:checked + label {
  margin-left: 1.3rem;
}

.url__link {
  @apply text-xs flex items-center mb-2;
}
.url__link span {
  transition: all 0.2s;
}
.url__link:hover span {
  margin-left: 0.7rem;
}
